<footer class="footer">
    <div class="footer-wrap">
        <div class="footer-left"><img src="../../img/footer/Untitled-1 1.png" alt="" class="img-left"></div>
        <div class="footer-right">
            <ul class="footer-main-list">
                <li class="footer-title">Купить игру Cyberpunk 2077</li>
                <li class="complect">В комплект входит:</li>
                <li class="fyt"><img src="../../img/footer/disk.svg" alt="">Футляр с игровыми дисками</li>
                <li class="fyt"><img src="../../img/footer/wysiwyg.png" alt="">Футляр с кодом для загрузки игры и дисками (pc)</li>
                <li class="fyt"><img src="../../img/footer/collections.png" alt="">Справочник с информацией об игровом мире</li>
                <li class="fot-choose">Выберите платформу:</li>
                <ul class="choose-list">
                    <li ><img src="../../img/footer/pc.png" alt=""></li>
                    <li ><img src="../../img/footer/xbox-one-3 logo.png" alt=""></li>
                    <li ><img src="../../img/footer/stadia logo.png" alt=""></li>
                    <li ><img src="../../img/footer/ployka.svg" alt=""></li>
                </ul>
            </ul>
        </div>
    </div>

    <div class="footer-down">
        <div class="container">
            <ul class="down-list">
                <ul class="down-left">
                    <li><img src="../../img/Logo.svg" alt=""></li>
                    <li><img src="../../img/footer/red.png" alt=""></li>
                </ul>
                <ul class="down-right">
                    <li>Лицензия</li>
                    <li>Политика конфиденциальности</li>
                </ul>
                <div class="sub-fot">
                    CD PROJEKT®, Cyberpunk®, Cyberpunk 2077®
                </div>
            </ul>
            
        </div>
    </div>


</footer>
