<header class="header">
    <div class="container">

        <nav class="nav">
            <ul class="nav__list">
                <div class="nav-left nav-block">
                    <li class="nav__logo "><a href="#!"><img src="../../img/Logo.svg" alt="" class="logo"></a></li>
                </div>
                <div class="nav-right nav-block">
                    <li class="nav__el"><a href="#!"><img src="./img/youtube logo.svg" alt=""></a></li>
                    <li class="nav__el"><a href="#!"><img src="../../img/vk logo.svg" alt=""></a></li>
                    <li class="nav__el"><a href="#!"><img src="../../img/facebook-rect logo.svg" alt=""></a></li>
                    <li class="nav__el"><a href="#!"><img src="../../img/twitter-square logo.svg" alt=""></a></li>
                    <li class="nav__el"><a href="#!"><img src="../../img/twitch logo.svg" alt=""></a></li>
                    <li class="nav__end"><a href="#!"><img src="../../img/instagram-square logo.svg" alt=""></a></li>
                </div>
            </ul>
        </nav>
        <div class="header-desc-box">
            <div class="header-cont">
                <div class="header-box-title">
                    Доступно на<br> всех платформах
                </div>
                <button class="header-button">Узнать больше</button>
            </div>
        </div>
    </div>
</header>
