<section class="hp">
    <div class="hp-trans"></div>
    <div class="container">
        <div class="hp-wrap">
            <div class="hp-left">
                <ul class="hp-main-list">
                    <img src="../../img/hp/monik.webp" alt="">
                    <ul class="hp-list">
                        <li><img src="../../img/hp/hplogo.svg" alt=""></li>
                        <li><img src="../../img/hp/xx.svg" alt=""></li>
                        <li><img src="../../img/Logo.svg" alt=""></li>
                    </ul>
                </ul>
            </div>
            <div class="hp-right">
                <ul class="hp-right-list">
                    <li class="hp-title">Полное погружение вместе с HP</li>
                    <li class="hp-desc">Погрузись в современные экшен-игры с реалистичным изображением с помощью монитора с диагональю 23,8 дюйма, созданном для отображения максимально насыщенных цветов. Успевай реагировать на любые события с временем отклика 1 мс и частотой в 144 Гц!</li>
                    <li class="hp-el hp-up"><img src="../../img/hp/paint.svg" alt=""> Яркие насыщенные цвета</li>
                    <li class="hp-el"><img src="../../img/hp/stars.svg" alt=""> Кристальная четкость изображения</li>
                    <li class="hp-el"><img src="../../img/hp/layers.svg" alt=""> Быстрые движения и плавный геймплей</li>
                    <li ><button class="hp-btn">Подробнее</button></li>
                </ul>
            </div>
        </div>
    </div>
</section>