<section class="nite">
    <div class="container">
        <h1 class="nite-title">Найт-Сити изменит тебя навсегда!</h1>
        <p class="nite-desc"><a href="#!" class="sylka">Cyberpunk 2077</a> — приключенческая ролевая игра, действие которой происходит в мегаполисе Найт-Сити, где власть, роскошь и модификации тела ценятся выше всего. Ты играешь за V, наёмника в поисках устройства, позволяющего обрести бессмертие. Ты сможешь менять киберимпланты, навыки и стиль игры своего персонажа, исследуя открытый мир, где твои поступки влияют на ход сюжета и всё, что тебя окружает.</p>
        <div class="nite-imgs">
            <ul class="nite-list">
                <div class="nite-left">
                    <li class="nite-el"><img class="nite-img" src="../../img/nite/first.webp" alt=""></li>
                    <li class="nite-el"><img class="nite-img" src="../../img/nite/second.webp" alt=""></li>
                </div>
                <li class="nite-el"><img class="nite-main"  src="../../img/nite/third.webp" alt=""></li>
            </ul>
        </div>

    </div>
    <div class="black-transiton"></div>
</section>